<div class="dropdownMenu">
    <a class="option" asp-controller="Activity" asp-action="UserActivity">
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_119_2)">
                <path d="M21.0938 19.4063H21.0756C20.8954 19.4021 20.7212 19.3405 20.5785 19.2304C20.4358 19.1202 20.3321 18.9673 20.2825 18.794L17.61 9.44157L15.9777 13.7959C15.9174 13.9568 15.8094 14.0954 15.6682 14.1933C15.527 14.2912 15.3593 14.3437 15.1875 14.3438H11.8125V12.6563H14.6024L16.9286 6.45377C16.991 6.28756 17.1043 6.14527 17.2522 6.04713C17.4002 5.94899 17.5753 5.89999 17.7527 5.90711C17.9301 5.91423 18.1007 5.97711 18.2404 6.08679C18.38 6.19648 18.4814 6.34739 18.5304 6.51807L21.1555 15.7083L22.825 10.7018C22.8808 10.5338 22.9882 10.3877 23.1318 10.2841C23.2754 10.1806 23.448 10.1249 23.625 10.125H27V11.8125H24.2331L21.8938 18.8295C21.838 18.9975 21.7306 19.1437 21.587 19.2472C21.4434 19.3507 21.2708 19.4064 21.0938 19.4063Z" fill="#595959" />
                <path d="M12.6562 25.3125H10.9688V19.4062C10.968 18.7351 10.7011 18.0917 10.2266 17.6172C9.75201 17.1427 9.1086 16.8757 8.4375 16.875H5.0625C4.3914 16.8757 3.74799 17.1427 3.27345 17.6172C2.79891 18.0917 2.53199 18.7351 2.53125 19.4062V25.3125H0.84375V19.4062C0.845067 18.2878 1.28996 17.2155 2.08085 16.4246C2.87173 15.6337 3.94402 15.1888 5.0625 15.1875H8.4375C9.55598 15.1888 10.6283 15.6337 11.4192 16.4246C12.21 17.2155 12.6549 18.2878 12.6562 19.4062V25.3125Z" fill="#595959" />
                <path d="M6.75 6.75C7.25064 6.75 7.74003 6.89846 8.15629 7.17659C8.57255 7.45473 8.89699 7.85006 9.08857 8.31258C9.28016 8.77511 9.33028 9.28406 9.23261 9.77507C9.13495 10.2661 8.89387 10.7171 8.53987 11.0711C8.18586 11.4251 7.73484 11.6662 7.24382 11.7639C6.75281 11.8615 6.24386 11.8114 5.78133 11.6198C5.31881 11.4282 4.92348 11.1038 4.64534 10.6875C4.36721 10.2713 4.21875 9.78188 4.21875 9.28125C4.21875 8.60992 4.48544 7.96609 4.96014 7.49139C5.43484 7.01668 6.07867 6.75 6.75 6.75ZM6.75 5.0625C5.91561 5.0625 5.09996 5.30993 4.40619 5.77349C3.71242 6.23705 3.17169 6.89593 2.85239 7.6668C2.53308 8.43768 2.44953 9.28593 2.61231 10.1043C2.7751 10.9226 3.17689 11.6744 3.7669 12.2644C4.3569 12.8544 5.10861 13.2562 5.92696 13.4189C6.74532 13.5817 7.59357 13.4982 8.36445 13.1789C9.13532 12.8596 9.7942 12.3188 10.2578 11.6251C10.7213 10.9313 10.9688 10.1156 10.9688 9.28125C10.9688 8.16237 10.5243 7.08931 9.73311 6.29814C8.94194 5.50697 7.86888 5.0625 6.75 5.0625Z" fill="#595959" />
            </g>
            <defs>
                <clipPath id="clip0_119_2">
                    <rect width="27" height="27" fill="white" />
                </clipPath>
            </defs>
        </svg>
        <span>Activité</span>
    </a>
    <div class="ligne"></div>
    <a class="option" asp-controller="Schedule" asp-action="Create">
        <svg xmlns="http://www.w3.org/2000/svg" width="24"
             height="24" viewBox="0 0 24 24" fill="none">
            <path d="M19.9994 19.2611H10.9294C10.4794 19.2611 10.1094 18.8911 10.1094 18.4411C10.1094 17.9911 10.4794 17.6211 10.9294 17.6211H19.9994C20.4494 17.6211 20.8194 17.9911 20.8194 18.4411C20.8194 18.9011 20.4494 19.2611 19.9994 19.2611Z"
                  fill="#595959" />
            <path d="M19.9994 12.9681H10.9294C10.4794 12.9681 10.1094 12.5981 10.1094 12.1481C10.1094 11.6981 10.4794 11.3281 10.9294 11.3281H19.9994C20.4494 11.3281 20.8194 11.6981 20.8194 12.1481C20.8194 12.5981 20.4494 12.9681 19.9994 12.9681Z"
                  fill="#595959" />
            <path d="M19.9994 6.67125H10.9294C10.4794 6.67125 10.1094 6.30125 10.1094 5.85125C10.1094 5.40125 10.4794 5.03125 10.9294 5.03125H19.9994C20.4494 5.03125 20.8194 5.40125 20.8194 5.85125C20.8194 6.30125 20.4494 6.67125 19.9994 6.67125Z"
                  fill="#595959" />
            <path d="M4.90969 8.03187C4.68969 8.03187 4.47969 7.94187 4.32969 7.79187L3.41969 6.88188C3.09969 6.56188 3.09969 6.04187 3.41969 5.72187C3.73969 5.40187 4.25969 5.40187 4.57969 5.72187L4.90969 6.05188L7.04969 3.91187C7.36969 3.59188 7.88969 3.59188 8.20969 3.91187C8.52969 4.23188 8.52969 4.75188 8.20969 5.07188L5.48969 7.79187C5.32969 7.94187 5.12969 8.03187 4.90969 8.03187Z"
                  fill="#595959" />
            <path d="M4.90969 14.3287C4.69969 14.3287 4.48969 14.2487 4.32969 14.0887L3.41969 13.1788C3.09969 12.8588 3.09969 12.3388 3.41969 12.0188C3.73969 11.6988 4.25969 11.6988 4.57969 12.0188L4.90969 12.3488L7.04969 10.2087C7.36969 9.88876 7.88969 9.88876 8.20969 10.2087C8.52969 10.5288 8.52969 11.0487 8.20969 11.3687L5.48969 14.0887C5.32969 14.2487 5.11969 14.3287 4.90969 14.3287Z"
                  fill="#595959" />
            <path d="M4.90969 20.3288C4.69969 20.3288 4.48969 20.2488 4.32969 20.0888L3.41969 19.1788C3.09969 18.8588 3.09969 18.3388 3.41969 18.0188C3.73969 17.6988 4.25969 17.6988 4.57969 18.0188L4.90969 18.3488L7.04969 16.2087C7.36969 15.8888 7.88969 15.8888 8.20969 16.2087C8.52969 16.5288 8.52969 17.0488 8.20969 17.3688L5.48969 20.0888C5.32969 20.2488 5.11969 20.3288 4.90969 20.3288Z"
                  fill="#595959" />
        </svg>
        <span>Tâches</span>
    </a>
</div>