<div class="Content">
    <div class="Title">
        <div class="textTitle">
            Liste des CV présents dans la base de
            donnée
        </div>
        <div class="add-btn">
            <a href="http://">Ajouter</a>
        </div>
    </div>
    <div class="Filter">
        <div class="header">
            <div class="text">Filtrer par</div>
            <a href="http://">
                <svg xmlns="http://www.w3.org/2000/svg" width="26"
                     height="27" viewBox="0 0 26 27" fill="none">
                    <g clip-path="url(#clip0_22_341)">
                        <path d="M18.2812 7.47936C17.2068 7.47811 16.1513 7.76542 15.2232 8.31179C14.2951 8.85817 13.5277 9.64394 13 10.5884V6.65945H11.375V13.2187H17.875V11.5789H14.3136C14.6754 10.8665 15.2188 10.2643 15.8878 9.83422C16.5568 9.40414 17.3274 9.16174 18.1201 9.13196C18.9128 9.10218 19.699 9.2861 20.3979 9.66478C21.0968 10.0435 21.6831 10.6032 22.0963 11.2865C22.5096 11.9697 22.7351 12.7518 22.7494 13.5521C22.7637 14.3525 22.5664 15.1422 22.1778 15.8401C21.7893 16.538 21.2234 17.1187 20.5385 17.5226C19.8537 17.9265 19.0745 18.139 18.2812 18.1381H17.875V19.7779H18.2812C19.8974 19.7779 21.4474 19.13 22.5902 17.9768C23.733 16.8236 24.375 15.2595 24.375 13.6286C24.375 11.9977 23.733 10.4337 22.5902 9.28044C21.4474 8.12723 19.8974 7.47936 18.2812 7.47936Z"
                              fill="#777777" />
                        <path d="M21.125 5.01963H3.25V7.61954L9.27404 13.6985L9.75 14.1788V21.4177H13V19.7779H14.625V21.4177C14.625 21.8526 14.4538 22.2697 14.149 22.5772C13.8443 22.8847 13.431 23.0575 13 23.0575H9.75C9.31902 23.0575 8.9057 22.8847 8.60095 22.5772C8.29621 22.2697 8.125 21.8526 8.125 21.4177V14.8585L2.10096 8.77913C1.95006 8.62685 1.83035 8.44607 1.74869 8.24711C1.66702 8.04814 1.62499 7.8349 1.625 7.61954V5.01963C1.625 4.58472 1.7962 4.16763 2.10095 3.86011C2.4057 3.55259 2.81902 3.37982 3.25 3.37982H21.125V5.01963Z"
                              fill="#777777" />
                    </g>
                    <defs>
                        <clippath id="clip0_22_341">
                            <rect width="26" height="26.2369"
                                  fill="white"
                                  transform="translate(0 0.10022)" />
                        </clippath>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="ligne"></div>
        <div class="midle"></div>
        <div class="ligne"></div>
        <div class="footer">
            <button type="submit">
                Filter
            </button>
        </div>
    </div>
    <div class="Devexpress">
    </div>
</div>