@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="welcome">Bienvenue dans GRC</div>
    <div class="Title">
        Utilitaires personnalisés et Gestion
        de CV
    </div>
    <div class="Title2">
        Ici vous trouverez la liste des
        modules et
        leurs fonctionnalités:
    </div>
    <div class="intro">
        <div class="cv-management">
            <div class="title">Gestion de CV</div>
            <ul>
                <div class="list">
                    <img src="~/img/portfolio_1153377.png"
                         alt="resumeList" />
                <li>
                    Liste des CV : affiche les CV de tous
                    les emplois de l'organisation
                    sélectionnée.
                </li>
        </div>
        <div class="list">
            <img src="~/img/data_1713962.png"
                 alt="additionalData" />
            <li>
                Données additionnelles : permet de
                filtrer les personnes en fonction de
                critères supplémentaires spécifiques à l'emploi.
            </li>
        </div>
        <div class="list">
            <img src="~/img/hourglass_636545.png"
                 alt="waitingList" />
            <li>
                En attente : regroupe les nouvelles
                entrées de CV qui attendent la
                confirmation de l'administrateur ou du
                modérateur avant d'être ajoutées à la
                base de données.
            </li>
        </div>
        </ul>
    </div>
    <div class="professional-addition">
        <div class="title">Utilitaires personnalisés</div>
        <ul>
            <div class="list">
                <img src="~/img/briefcase_639394.png"
                     alt="new job" />
            <li>
                Nouvel emploi : permet d'ajouter un
                nouvel emploi en fonction de l'organisation
                souhaitée.
            </li>
    </div>
    <div class="list">
        <img src="~/img/list_1950715.png"
             alt="critere" />
        <li>
            Critères : liste de tous les critères
            additionnels pour chaque travail, ainsi
            que la visibilité et le type de colonne,
            avec des fonctions "modifier" et
            "supprimer" définies par l'utilisateur.
        </li>
    </div>
    <div class="list">
        <img src="/img/database_1602309.png" /
             alt="database structure">
        <li>
            Structure de la base de données :
            regroupement de chaque table de la base
            de données.
        </li>
    </div>
</div>
                            </ul>
                        </div>
                    </div>
